<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries" />
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="RAMBufferSizeMB" value="2024"/>
    <add key="MergeFactor" value="40"/>
    <add key="TermIndexInterval" value="1024"/>
    <add key="UseCompoundFile" value="False"/>
    <add key="StreamUrl" value=""/>
    <add key="StoragePathRead" value="IndexStorage"/>
    <add key="StoragePathWrite" value="IndexStorage"/>
  </appSettings>
  
</configuration>